html {
    --text-color: black;
    --list-container: rgba(255, 255, 255, 0.8);
    --list-item-border-top: lightgray;
    --list-item-hover: white;
    --search-border: #ccc;
    --search-border-focus: #555;
    --search-background: rgba(255, 255, 255, 0.8);
    --category: darkslategray;
    --scrollbar: gray;
}

html[data-theme='dark'] {
    --text-color: white;
    --list-container: rgba(0, 0, 0, 0.8);
    --list-item-border-top: black;
    --list-item-hover: black;
    --search-border: black;
    --search-border-focus: darkslategray;
    --search-background: rgba(0, 0, 0, 0.8);
    --category: gray;
    --scrollbar: gray;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    user-select: none;
    color: var(--text-color);
}

.background {
    background-color: black;
    width: 100vw;
    height: 100vh;
    background: url("background.jpg") center / cover;
}

.list-container {
    width: 500px;
    height: 100vh;
    background-color: var(--list-container);
    overflow-x: hidden;
    overflow-y: auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.list-item {
    /*border-top: 1px solid var(--list-item-border-top);*/
    padding: 20px;
    transition: 0.2s;
    vertical-align: middle;
}

.list-item.ng-hide {
    transition: 0.2s linear all;
    opacity: 0;
}

.list-item.ng-show {
    transition: 0.2s linear all;
}

.list-item div {
    cursor: default;
}

.list-item img {
    float: left;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

/*.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: slategray radial-gradient(circle, transparent 1%, slategray 1%) center/15000%;
}

.ripple:active {
    background-color: slategray;
    background-size: 100%;
    transition: background 0s;
}*/

.category {
    color: var(--category);
}

.link {
    cursor: pointer;
}

.list-item:hover {
    background-color: var(--list-item-hover);
}

.search {
    padding: 20px;
}

.search input[type=text] {
    background-color: var(--search-background);
    font-size: inherit;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid var(--search-border);
    border-radius: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/*.search input[type=text]:focus {
    border: 1px solid var(--search-border-focus);
}*/

.float {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 40px;
    right: 40px;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 0px 1px 5px gray;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 0px;
}

.star {
    float: right;
    color: goldenrod;
    font-size: 200%;
    cursor: pointer;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: var(--text-color);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.2);
}